*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* header */

header{
text-align: right;
    height: 50px;
}

.button-header{
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: white;
    bottom: 5px;
    background-color: rgba(97,108,120,0.5);
}

/* main */

main{
    height: calc(100vh - 125px);
    overflow-y: auto;
}

.row-main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-main{
    margin: 5px 20px 0px 5px;
    width: calc(100% / 8);
}

.content{
    position: relative;
}

img{
    width: 200px;
    height: 100px;
}

.label{
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(97,108,120,0.5);
}

/* footer */

footer{
    height: 75px;
    width: 100%;
    background-color: rgba(34,34,34,255);
}

.row-footer{
    display: flex;
    justify-content: space-between;
}

.col-footer{
    display: flex;
    text-align: center;
    color: white;
    gap: 15px;
    height: 75px;
}

.font-size-25px{
    font-size: 25px;
}

.green{
    color: green;
}

.end-meeting{
    color: red;
    background-color: gray;
    border-style: none;
    cursor: pointer;
}