*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* main */

main{
    width: 100vw;
    height: calc(100vh -95px);
    overflow-y: auto;
}

.row-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-main{
    position: relative;
    margin: 3px 4px 0px 0px;
}

img{
    width: 250px;
    height: 150px;
}

.label{
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(97,108,120,0.5);
}

/* footer */

footer{
    height: 75px;
    width: 100%;
    background-color: rgba(34,34,34,255);
    margin-top: 20px;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 5px;
}

.col-footer{
    display: flex;
    text-align: center;
    color: white;
    gap: 15px;
}

.font-size-25px{
    font-size: 25px;
}

.green{
    color: green;
}

.end-meeting{
    height: 100%;
}